<div class="container-sidebar">
    <div class="sidebar-wrapper">
        <app-siderbar></app-siderbar>
    </div>
    <div class="container-header">
        <app-header (toggleMenu)="mostrarSidebarMobile()"></app-header>
        <ion-content style="--background: #e2e8f0;">
            <app-button-layout>
                <app-count [label]="'Pedidos al año'" [count]="Totalanual" accentColor="#1D9E75" iconBg="#E1F5EE">
                    <svg icono class="w-4 h-4 text-[#1D9E75]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                    </svg>
                </app-count>
                <div class="flex gap-3">
                    <app-button-new label="Nuevo Pedido" variante="btn-azul" (click)="nuevoPedido()"></app-button-new>
                </div>
            </app-button-layout>
            <div class="px-5 mt-4 mb-4">
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                    <app-stat-card label="PEDIDOS RECIBIDOS" [count]="Totalrecibidos" [accentColor]="'#10b981'">
                    </app-stat-card>

                    <app-stat-card label="PEDIDOS CON INCIDENCIA" [count]="Totalincidentes" [accentColor]="'#ef4444'">
                    </app-stat-card>

                    <app-stat-card label="PEDIDOS PENDIENTES" [count]="Totalpendientes" [accentColor]="'#8b5cf6'">
                    </app-stat-card>
                </div>
            </div>
            <app-container-table>
                <div header>
                    <app-search-layout>
                        <app-search-bar placeholder="Buscar por asesor o proveedor"
                            (onSearch)="busquedaTexto($event)"></app-search-bar>
                        <app-filtro-dinamico [placeholder]="'Todos los proveedores'" [options]="opcionesProv"
                            (onFilterChange)=" filtroProv($event)"></app-filtro-dinamico>
                        <app-estatus [opciones]="EstatusPedidos" (onFilterChange)="filtroEstatus($event)"></app-estatus>
                        <app-filtro-fecha (onFilterChange)="filtroFecha($event)"></app-filtro-fecha>
                    </app-search-layout>
                </div>
                <div body>
                    <app-table-skeleton *ngIf="cargando" [rows]="6"></app-table-skeleton>
                    <app-table *ngIf="!cargando" [columns]="columnasPedidos" [data]="pedidosLista"
                        (rowClick)="abrirDetalles($event)">
                    </app-table>
                </div>
                <div footer>
                    <app-pagination [paginaActual]="currentPage" [totalPaginas]="totalPages"
                        (onPageChange)="cambiarPaginaPadre($event)"></app-pagination>
                </div>
            </app-container-table>
        </ion-content>
    </div>
</div>