<div class="flex flex-col gap-1.5 w-full">
  <label *ngIf="label" class="text-[10px] font-semibold text-slate-500 uppercase tracking-wider ml-1">
    {{ label }}
  </label>
  
  <select 
    [disabled]="disabled"
    [value]="value" 
    (change)="actualizarValor($event)" 
    class="bg-white border border-slate-300 text-[#0d1f38] text-xs rounded-lg shadow-sm focus:ring-1 focus:ring-[#1D9E75] focus:border-[#1D9E75] appearance-none block w-full px-3 py-2.5 outline-none transition-all disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed">
    
    <ng-content></ng-content>
    
  </select>
</div>