ion-searchbar {
  --background: #ffffff;
  --color: #414a53;
  --border-radius: 10px;
  --box-shadow: inset 0 0 0 1px #94a3b8 !important;
  width: 100%;
  height: 50px;
  padding: 0; 
::ng-deep .searchbar-input {
    font-size: 14px !important;
  }
}
ion-searchbar.searchbar-has-focus {
  --box-shadow: inset 0 0 0 2px #94a3b8!important; 
}
ion-searchbar.ion-focused {
  --box-shadow: inset 0 0 0 2px #00997d !important; 
}