<div class="mobile-backdrop" [class.show-backdrop]="isMobileMenuOpen" (click)="toggleMenu()"></div>
<ion-tabs>
  <ion-tab-bar slot="start" class="erp-sidebar" [class.show-mobile-menu]="isMobileMenuOpen">

    <div class="sidebar-header">
      <div class="logo-box"><img src="../../../../../assets/img/logo_atc.png" alt="ATC Logo"></div>

    </div>

    <ion-tab-button  layout="icon-start" routerLink="/dashboard" routerLinkActive="tab-selected"
      *ngIf="authService.tieneAcceso(['Administrador'])">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <div class="nav-category" *ngIf="authService.tieneAcceso(['Administrador', 'Almacen','Asesor','Cotizador'])">Gestion</div>

    <ion-tab-button  layout="icon-start" routerLink="/productos" routerLinkActive="tab-selected"
      *ngIf="authService.tieneAcceso(['Administrador', 'Almacen','Asesor','Cotizador'])">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button  layout="icon-start" routerLink="/clientes" routerLinkActive="tab-selected"
      *ngIf="authService.tieneAcceso(['Administrador','Asesor','Cotizador'])">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button  layout="icon-start" routerLink="/cotizaciones" routerLinkActive="tab-selected"
      *ngIf="authService.tieneAcceso(['Administrador', 'Cotizador'])">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Cotizaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button  layout="icon-start" routerLink="/pedidos" routerLinkActive="tab-selected"
      *ngIf="authService.tieneAcceso(['Administrador', 'Cotizador','Asesor'])">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <div class="nav-category" *ngIf="authService.tieneAcceso(['Administrador', 'Almacen','Asesor'])">Control</div>

    <ion-tab-button  layout="icon-start" routerLink="/historial-es" routerLinkActive="tab-selected"
      *ngIf="authService.tieneAcceso(['Administrador', 'Almacen'])">
      <ion-icon name="swap-vertical-outline"></ion-icon>
      <ion-label>Historial E/S</ion-label>
    </ion-tab-button>
    <ion-tab-button  layout="icon-start" routerLink="/vales" routerLinkActive="tab-selected"
      *ngIf="authService.tieneAcceso(['Administrador', 'Almacen','Asesor'])">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Vales salida</ion-label>
    </ion-tab-button>
   <ion-tab-button  layout="icon-start" routerLink="/recepciones" routerLinkActive="tab-selected"
      *ngIf="authService.tieneAcceso(['Administrador', 'Almacen'])">
      <ion-icon name="archive-outline"></ion-icon>
      <ion-label>Recepción</ion-label>
    </ion-tab-button>
    <div class="nav-category" *ngIf="authService.tieneAcceso(['Administrador'])">Admin</div>

    <ion-tab-button  layout="icon-start" routerLink="/asesores" routerLinkActive="tab-selected"
      *ngIf="authService.tieneAcceso(['Administrador'])">
      <ion-icon name="id-card-outline"></ion-icon>
      <ion-label>Asesores</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>