 <div class="user-trigger" [id]="uniqueTriggerId">
      <div class="avatar">
        <span>{{iniciales}}</span>
      </div>
      <div class="user-info">
        <span class="user-name">{{usuario?.Nombre}} {{usuario.app}}</span>
        <span class="user-role">{{usuario?.Rol}}</span>
      </div>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
    <ion-popover [trigger]="uniqueTriggerId" triggerAction="click" class="user-menu-popover"   #popover>
      <ng-template>
        <ion-content class="popover-content">
          <div class="popover-header">
            <div class="avatar large">
              <span>{{iniciales}}</span>
            </div>
            <div>
              <div class="popover-name">{{usuario?.Nombre}} {{usuario.app}}</div>
              <div class="popover-email">{{usuario?.Correo}}</div>
            </div>
          </div>
          <ion-list lines="none">
            <ion-item button>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label>Perfil</ion-label>
              <ion-badge class="role-badge" slot="end">{{usuario?.Rol}}</ion-badge>
            </ion-item>
            <ion-item button class="logout-item" (click)="logOut()">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>Cerrar sesión</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>