<div class="container-sidebar">
  <div class="sidebar-wrapper">
    <app-siderbar></app-siderbar>
  </div>
  
  <div class="container-header">
    <app-header (toggleMenu)="mostrarSidebarMobile()"></app-header>
    
    <ion-content style="--background :#f1f5f9;">
      
      <!-- Controles Superiores -->
      <app-button-layout>
        <!-- Contador de apoyo (puedes mostrar el total de registros encontrados u otro dato) -->
        <app-count [label]="'Total Encontradas'" [count]="totalRecords" accentColor="#003B8A" iconBg="#e6f0fa">
          <svg icono class="w-4 h-4 text-[#003B8A]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
        </app-count>
        
        <div class="flex gap-3">
          <app-button-new label="Programar Visita" variante="btn-azul" 
            *ngIf="authService.tieneAcceso(['Administrador', 'Soporte Tecnico'])"
            (click)="nuevaVisita()">
          </app-button-new>
        </div>
      </app-button-layout>

      <!-- Contenedor Principal de la Tabla -->
      <app-container-table>
        <div header>
          <app-search-layout>
            <app-search-bar placeholder="Buscar por empresa o nombre de asesor..."
              (onSearch)="busquedaTexto($event)"></app-search-bar>
            
            <app-estatus [opciones]="opcionesEstatus" (onFilterChange)="filtroEstatus($event)"></app-estatus>
          </app-search-layout>
        </div>
        
        <div body>
          <!-- Esqueleto de carga -->
          <app-table-skeleton *ngIf="cargando" [rows]="6"></app-table-skeleton>

          <!-- Tabla de Datos -->
          <app-table *ngIf="!cargando" 
            [columns]="columnasVisitas" 
            [data]="visitasLista"
            (actionClick)="abrirOpciones($event)" (rowClick)="abrirDetalles($event)">
          </app-table>
        </div>
        
        <div footer>
          <app-pagination [paginaActual]="currentPage" [totalPaginas]="totalPages"
            (onPageChange)="cambiarPaginaPadre($event)"></app-pagination>
        </div>
      </app-container-table>
      
    </ion-content>
  </div>
</div>